// colors
$army-green: #3d2514;
$white: #ffffff;
$butterscotch: #ffc045;
$brick: #bf2222;
$greyish-brown: #3d3d3d;
$pale-peach: #fee8bc;
$white-two: #dcdcdc;
$pinkish-grey: #bebebe;

//fonts

$bebas: 'Bebas Neue';
$slab: 'Alfa Slab One';
$monts: 'Montserrat';

